@import '/src/app/styles/abstracts/variable';

.create-btn {
   margin: 1rem;
}

.todo-table {
    width: 100%;
    overflow: auto;
    max-height: 100px;
    height: 100%;
}

.mat-header-cell {
    text-align: center;
    background-color: $GRAY;
    color: $WHITE;
    font-size: 1rem;
    vertical-align: middle;
    padding: .5rem;
}

.mat-row .mat-cell {
    border-bottom: 1px solid $GRAY;
    border-right: 1px solid $GRAY;
    vertical-align: middle;
    padding: .5rem;
}

.mat-raised-button {
    + .mat-raised-button {
        margin-left: .5rem;
    }
}

.trash {
    margin-top: 2rem;
}

  